# API Key de Gemini
GOOGLE_API_KEY=api-key-de-gemini-va-aca

# Langfuse - Observabilidad
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=https://cloud.langfuse.com

# Bot de Telegram
TELEGRAM_BOT_TOKEN=token-del-bot-de-telegram